.playground {
    padding: 120px 0;
    height: 100%;
}

.playground .area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.playground .area .caro-row {
    display: flex;
}

.playground .area .caro-col {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 .1rem #fff,
    0 0 .1rem #fff,
    0 0 1rem #e21873,
    0 0 0.4rem #e21873,
    0 0 1.4rem #e21873,
    inset 0 0 0.7rem #e21873; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.playground .area .caro-col--x {
    font-size: 48px;
    color: #06e763;
}

.playground .area .caro-col--o {
    font-size: 40px;
    color: #f30606;
}

.playground .area .caro .winner {
    font-size: 38px;
    color: #fff;
}

.playground .area .caro .winner-icon {
    width: 300px;
}

.playground .area .caro .winner-icon img {
    width: 100%;
}

.playground .area .caro .winner-icon p {
    text-align: center;
    font-size: 32px;
    color: #fff;
}

.playground .area .caro .winner-icon button {
    border: 3px solid #ffb41f;
    font-size: 18px;
    padding: 12px 24px;
    background-color: #7414fa;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    border-radius: 12px;
}