.top-player {
    padding: 120px 0;
    background-image: url(https://htmldemo.net/bonx/bonx/assets/img/bg/hero-bg1.webp);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

.top-player .page-name {
    margin-top: 70px;
    font-size: 90px;
    line-height: 90px;
    font-family: "Metal Mania", cursive;
    text-shadow: 3px 3px 0px #b154f0;
    margin-bottom: 25px;
    color: #fff;
    text-align: center;
}

.top-player .player-area {
    margin-top: 48px;
}

.top-player .player-area .friend-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
    border: 4px solid #281e4d;
    background: rgba(9, 0, 42, 0.75);
    padding: 6px 48px 6px 24px;
    border-radius: 24px;
}

.top-player .player-area .friend-data.friend-data--border {
    padding: 31px 48px 31px 48px;

}

.top-player .player-area  .friend-avatar {
    margin: 0 12px;
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.top-player .player-area  .friend-avatar.friend-avatar--border {
    border: 4px solid #fff;
    border-radius: 100%;
    height: 75px;
    width: 75px;
    margin-right: 36px;
}

.top-player .player-area .friend-data__detail {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-player .player-area .friend-data__detail .friend-avatar {
    font-size: 28px;
}

.top-player .player-area .friend-data__detail .friend-avatar img {
    width: 100%;
}

.top-player .player-area .friend-data__detail p {
    font-size: 28px;
    margin-bottom: 4px;
}

.top-player .player-area .friend-data__invite button {
    padding: 12px 24px;
    border-radius: 12px;
    background-color: #b92b27;
    color: #fff;
    border: 1px solid #b92b27;
}

.top-player .player-area .friend-data__TTP p {
    font-size: 20px;
    margin: 0;
}
