.header {
    padding: 24px 0;
    position: absolute;
    /* background: rgba(20, 14, 56, 0.9); */
    background-color: transparent;
    top: 0;
    width: 100%;
    color: #fff;
    z-index: 999;
}

.header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header .navigation a {
    text-decoration: none;
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.header .auth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.header .auth .user {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    position: relative;
} 

.header .auth .user:hover > .user-dropdown {
    opacity: 1;
    top: 70px;
}

.header .auth .user__fullname {
    font-size: 18px;
    color: #ffb41f;
}

.header .auth .user__avatar {
    margin-right: 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffb41f;
    border-radius: 100%;
    color: #ffb41f;
    font-weight: bold;
    font-size: 20px;
}

.header .auth .user__avatar img {
    width: 100%;
    border-radius: 100%;

}

.header .auth button {
    border: 3px solid #ffb41f;
    font-size: 18px;
    padding: 12px 24px;
    background-color: #7414fa;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    border-radius: 12px;
}

.header .auth button span {
    margin-right: 12px;
}

.header .auth .user .user-dropdown {
    width: 250px;
    position: absolute;
    top: 90px;
    right: 0;
    border: 3px solid #ffb41f;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: 0.2s;

}

.header .auth .user .user-dropdown .user-dropdown__item {
    padding: 12px 20px;
    border-bottom: 1px solid #fff;
}

.header .auth .user .user-dropdown .user-dropdown__item:last-child {
    border-bottom: none;
}

.header .auth .user .user-dropdown .user-dropdown__item span {
    margin: 0 8px;
}
